


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}



header {
  background-color:navy;
  height:100px;
  width:100%;
}
@media only screen and (min-width: 600px) {
.container{
  
  background-color:#fff;
  border: 1px solid white;
  box-shadow: 10px 10px 10px 10px #888888;
  text-align: center;
margin-left:250px;
margin-right: 250px;
height: 620px;

  } 
}


    .container{
      background-color:#fff;
  border: 1px solid white;
  box-shadow: 10px 10px 10px 10px #888888;
  text-align: center;

    }



  
  