


h1{
    display:flex;
    flex-direction:row;
    padding-left:20px;
    color:lightgreen;
}

.block1 label { width: 190px;  display: flex; flex-direction: column;}
.block1 span { font-size: small; font-weight: bold; color: darkblue; margin: 20px 10px 3px 1px ; }
.block1 input { width: 400px; border: 1px solid #000; padding: 5px; margin-left:20px;}
.block1 select { width: 400px; border: 1px solid #000; padding: 5px; margin-left:20px;}


@media only screen and (max-width: 600px) {
    .block1 label {width: 190px;  display: flex; flex-direction: row;}
    .block1 span { font-size: small; font-weight: bold; color:darkblue; padding:10px;}
}

#code{
    margin-bottom: 50px;
}
#house-built{
    width: 300px;  display: flex; flex-direction: column;
}
.block2 label{ width:500; display: flex; flex-direction: column;}
.block2 span{ font-size: small; font-weight: bold; color: darkblue; margin: 20px 10px 3px 1px; padding-left:160px; }
.block2 input{ width: 400px; border: 1px solid #000; padding: 5px; margin-left:500px;}
.block2 select { width: 400px; border: 1px solid #000; padding: 5px; margin-left:500px;}
.block2 textarea{width: 400px; border: 1px solid #000; padding: 5px; margin-left:500px;}
.block2 {
    margin-top:-450px;
}
#preferred-contact{

    width: 1100px;  display: flex; flex-direction: column;
}
#send{
    background: darkred;
    color: #fff;
    width:90px;
    height:30px;
    position: relative;
    bottom:70px;
    right:300px;
}

    
    

