.cars{
    width:65px;
}
#button{
    background-color:darkred;
    color: #fff;
    height:30px;
    width:125px;
}
.label{
    color:darkblue;
    font-weight: bold;
}


* {box-sizing: border-box;}
ul {list-style-type: none;}
body {font-family: Verdana, sans-serif;}

.month {
  padding: 10px 10px;
  width: 100%;
  background:  lightgrey;
  text-align: center;
}

.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: black;
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
  
}


.weekdays {
  margin: 0;
  padding: 10px 0;
  background-color: #fff;
}

.weekdays li {
  display: inline-block;
  width: 13.6%;
  color: blue;
  text-align: center;
}

.days {
  padding: 10px 0;
  background: lightgrey;
  margin: 0;
}
.days li {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: center;
  margin-bottom: 5px;
  font-size:12px;
  color: #777;
  
}

.days li .active {
  padding: 5px;
  background: #1abc9c;
  color: white !important
}

/* Add media queries for smaller screens */
@media screen and (max-width:720px) {
  .weekdays li, .days li {width: 13.1%;}
}

@media screen and (max-width: 420px) {
  .weekdays li, .days li {width: 12.5%;}
  .days li .active {padding: 2px;}
}

@media screen and (max-width: 290px) {
  .weekdays li, .days li {width: 12.2%;}
}

section{
    display: inline-block;
    border: 1px solid white;
}
#time{
    height:30px;
    margin-top:50px;
    
    margin-left:110px;
    display: flex;
    
}
p{
color: darkblue;
display: flex;
margin-left:110px;
font-size: small;
}
    