
.Menustyle{
    
    padding-bottom: 40px;
    width:100%;
    height:0;
    background-color:gainsboro;
    color:white;

    
}
.Menustyle ul{
  
    display:flex;
    justify-content: space-around;
    padding:10px;

    
}
.Menustyle ul li {
    list-style: none;
    text-transform: uppercase;
    text-decoration: none;

  
      

  
}

#link{
    color:white;
    text-decoration: none;
    
        
}
#link:hover{
   color:darkblue;
   
   
   
  
   
}

